/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 15px 12px 0;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
}

li{
  font-family: 'Noto Sans', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}